<section class="painting">
  <img src="{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
    <p>{{painting.description}} </p>>
  </div>
</section>