<div class="container" id="blog-posts">
    <div class="row">
        <div class="card col-12 col-sm-12 m-2" data-id="{{ gallery.id }}">
            <div class="card-header">
                <span class="float-start"> {{ gallery.name }} </span>
                <span class="float-end"> Posted by {{ gallery.user.username }}
                </span>
                <a href= "/gallery-update/{{gallery.id}}">edit</a>
            </div>
        </div>
    </div>

{{#each this.gallery.paintings as |painting| }}
{{> painting-details}}
{{/each}}

    {{#if loggedIn}}
    {{!-- <div class="row">
        <form id="new-comment-form">
            <div class="form-group m-1">
                <label for="comment-input">Comment</label>
                <textarea class="form-control" id="comment-input" placeholder="Comment" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-1">Submit</button>
        </form>
        <script src="/js/blogComments.js"></script>
    </div> --}}
    <a href="/media/upload/{{gallery.id}}">add image</a>
    {{/if}}
</div>